.howitworks {
    height: 405px;
    background-color: #eff5e7;
    margin-top: 130px;
}

.txt-row {
    display: flex;
    justify-content: center;
}

.hiw-text {
    margin-top: 43px;
    color: #333c2a;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.icon-row {
    margin-top: 45px;
}

.bill {
    height: 127px;
    display: block;
    margin: auto;
}

.box {
    height: 127px;
    display: block;
    margin: auto;
}

.calendar {
    height: 127px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}