.btn-column {
    margin-top: 100px;
}

.form-column {
    display: flex;
    justify-content: center;
}

.loripsum {
    color: #ffffff;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 76px;
}

.btn-div {
    margin-top: 120px;
    margin-bottom: 50px;
}

.btn.register-btn {
    margin-top: 20px;
    margin-right: 17px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    width: 188px;
    height: 56px;
    border-radius: 40px;
    background-color: #5fa01b;
    border: none;
    color: #ffffff;
}

.btn.login-btn {
    margin-top: 20px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    width: 188px;
    height: 56px;
    border-radius: 40px;
    background-color: #ffffff;
    border: none;
    color: #5fa01b;
}